table .wait{
    color: #3399FF
}

.div-pull-right{
    float:right;
}

a.hover-list{
    width:100%;
    text-align: left;
    outline-offset: 0px;
    text-decoration: none;
    color: #000;
}

#device-list li{
    padding-top: 13px;
    padding-bottom: 13px;
}

#device-list li:hover{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    border-top: 1px solid rgba(0,0,0,0.4);
    cursor: pointer;
    
}

li.hover-list-active{
    background-color: rgba(229, 229, 229, 0.4);
    border: 1px solid rgba(229, 229, 229, 0.6);
}