table .wait {
    color: #3399FF
}

.div-pull-right {
    float: right;
}

a.hover-list {
    width: 100%;
    text-align: left;
    outline-offset: 0px;
    text-decoration: none;
    color: #000;
}

#device-list li:hover {
    background-color: rgba(34, 186, 160, 0.5);
    cursor: pointer;
}

.device-list-ul {
    max-height: 270px;
    overflow-y: auto;
}

.device-list-ul div {}

.device-list-ul::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.device-list-ul::-webkit-scrollbar-button {
    background-color: rgba(255, 255, 255, 0.7);
}

.device-list-ul::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.device-list-ul::-webkit-scrollbar-thumb {
    background: rgb(34, 186, 160);
    border-radius: 4px;
}

.device-list-ul::-webkit-scrollbar-corner {
    background: #82AFFF;
}

.device-list-ul::-webkit-scrollbar-resizer {
    background: rgba(255, 255, 255, 0.7);
}

.device-search {
    float: right;
    width: 120px;
}

li.hover-list-active {
    background-color: rgba(229, 229, 229, 0.4);
    border: 1px solid rgba(229, 229, 229, 0.6);
}